* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

main {
  background: rgb(211 209 209);
  min-height: 100vh;
}

main .container {
  max-width: 960px;
  margin: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
